@import "bourbon/bourbon"
@import 'fonts'
@import 'colors'

html
	height: 100%
	font-size: 14px
body
	font-family: 'Open Sans', sans-serif
	width: 100%
	height: 100%
	padding: 0
	margin: 0
	position: relative
*, *:after, *:before
	box-sizing: border-box

ul, li
	list-style-type: none
a
	text-decoration: none
	&:hover, &:active, &:link
		color: inherit
		text-decoration: none
.show 
	display: block !important
.dn
	display: none

// ScrollBar hacks
#panel .mCSB_inside>.mCSB_container
	margin-right: 0
.mCSB_dragger_bar
	opacity: .7
.mCSB_container
	min-height: 100%

// ********* 

.wrapper
	width: 100%
	height: 100%	
	position: relative
	min-height: 500px
	overflow: hidden
#panel
	min-height: 650px
	position: absolute
	width: 360px
	top: 0
	right: 0
	height: 100%
	padding: 20px 5px 95px
	box-shadow: -2px 0 4px rgba(0,0,0,.2)
	transition: right .3s ease-in-out
	.panel-container
		margin: 0 auto
		width: 85%
	.panel-wrap
		width: 100%
		height: 100%
		overflow: hidden
		position: relative
	.title
		font-size: 1rem
		text-align: center
		color: $ico2
		font-weight: 600
	.type-wrap
		text-align: center
		margin-top: 2em
	.type
		font-size: .9rem
		display: inline-block
		text-align: right
		padding: 10px 2em 10px 3em
		margin: 0
		position: relative
		height: 40px
		color: $ico2
		font-weight: 400
		font-style: italic
		&:focus
			outline: none
		&:before
			content: ''
			background: url('../images/sprite.png') no-repeat
			position: absolute
			top: .3em
			left: 0
			height: 29px
			background-position: 0 0
		&:hover, &.active
			text-decoration: underline
			&.type-route:before
				background-position: 0 -29px
			&.type-stop:before
				background-position: -32px -29px
			&.type-street:before
				background-position: -75px -29px
			&.type-metro:before
				background-position: -50px -29px
	.type-route:before
		width: 32px
	.type-stop:before
		width: 18px
		background-position: -32px 0
	.type-street:before
		width: 25px
		background-position: -75px 0
	.type-metro:before
		width: 25px
		background-position: -50px 0
#panel.hidden
	right: -330px
#toggle-panel
	background: $ico
	border: none
	outline: none
	width: 35px
	height: 35px
	position: absolute
	top: 20px
	left: -20px
	padding: 0
#main-input
	display: block
	width: 100%
	min-height: 35px
	margin: 0 auto
	padding: 7px 35px 0 10px
	font-size: .9rem
	border: 2px solid $input
	color: $txt
	resize: none
	overflow-x: hidden
	line-height: normal
	vertical-align: baseline
	&:focus
		border-color: $ico
		outline: none
	span
		display: inline-block
		position: relative
		padding: 0 5px
		padding-right: 20px
		vertical-align: baseline
		cursor: pointer
		margin-bottom: .7rem
		margin-right: .3rem
		&:first-child:before
			content: ' ';
		&:hover
			background: $bg-sec
			outline: 3px solid $bg-sec
.input-wrap
	position: relative
	.arrow
		top: auto
		bottom: 0
		height: 100%
		background: #fff
		border: 2px solid $input
		&:after
			border-color: $input
.input-menu
	margin-top: 2rem
	margin-bottom: 1.5rem
	display: none
	.vars-wrap
		position: relative
		z-index: 2
.vars
	background: #fff
	position: absolute
	top: 0
	left: 0
	border: 1px solid $input
	border-top: none
	margin: 0
	padding: 0
	display: none
	max-height: 300px
	width: 100%
	height: auto
	.item
		display: block
		margin: 0
		padding: 5px 15px
		cursor: pointer
		&:hover
			background: $bg-sec

#txt
	padding: 0 5px
	outline: none
	border: none
	margin-bottom: .7rem
	width: 100%
	&::placeholder
		font-weight: 300
		color: $ico2
	&.ph-hidden::placeholder
		color: transparent

.arrow
	cursor: pointer
	background: #333
	display: block
	width: 35px
	height: 35px
	position: absolute
	right: 0
	top: 0
	&:after
		content: ''
		position: absolute
		border-right: 1px solid #fff
		border-top: 1px solid #fff
		width: 10px
		height: 10px
		top: 50%
		left: 50%
		transform-origin: 50% 50%
.arrow-bottom:after
	transform: translate(-50%,-70%) rotate(135deg)
.arrow-left:after
	transform: translate(-30%,-50%) rotate(-135deg)
.arrow-right:after
	transform: translate(-80%,-50%) rotate(45deg)
.arrow-top:after
	transform: translate(-50%,-30%) rotate(-45deg)

#orderNow
	display: block
	width: 100%
	height: 95px
	position: absolute
	bottom: 0
	left: 0
	font-size: 3rem
	text-transform: uppercase
	color: #fff
	background: $main
	font-weight: 700
	text-align: center
	line-height: 95px
	outline: none
.cross
	position: absolute
	width: 17px
	height: 100%
	right: 0
	&:before, &:after
		content: ''
		position: absolute
		top: 0
		right: 5px
		width: 13px
		height: 13px
		border-right: 1px solid $input
		transform-origin: 50% 50%
	&:before
		transform: rotate(-45deg) translate(-5px,5px)
	&:after
		transform:  rotate(45deg) translate(-1px,-1px)

//routes
#routes
	.district-title
		font-weight: 300
		font-style: italic
		font-size: 1rem
		color: $txt2
		margin-top: 0
	.route-list
		font-size: 0
		width: 100%
		padding: 0
		.route
			display: inline-block
			background: $bg-sec
			width: 19.75%
			height: 40px
			margin-right: 7%
			color: $txt
			position: relative
			margin-bottom: 20px
			cursor: pointer
			.route-title
				font-size: 1rem
				display: block
				font-weight: normal
				line-height: 40px
				height: 100%
				text-align: center
			&:nth-child(4n)
				margin-right: 0
			.detail
				display: none
				position: absolute
				top: 100%
				left: -5px
				font-size: .8rem
				line-height: normal
				font-weight: 300
				font-style: italic
				color: $txt2
				padding-top: 5px
				height: 20px
				width: 59px
			.detail-txt
				display: none
			&:hover
				.detail
					text-decoration: underline
			&.active
				border: 5px solid $main
				border-color: $main
				.route-title
					line-height: 30px
				.detail
					display: block
				.detail-txt
					display: block
			&.detailed
				background: $main
				border: none
				.route-title
					color: #fff
				.detail
					background: $main
					left: 0	
				.detail-txt
					display: none
			&.detailed.active
				.route-title
					line-height: 40px
	.context
		display: block
		width: 100%
		min-height: 50px
		position: relative
		margin-bottom: 20px
		max-height: 200px
		.context-head
			background: $main
			height: 50px
			position: relative
			.arrow
				height: 100%
				background: inherit
				border-left: 1px solid #fff
			.end
				color: #fff
				width: 85%
				height: 100%
				padding: 5px 10px
				font-size: .9rem
				line-height: 20px
				text-align: center
		.vars
			overflow-y: auto
			display: none
			position: static
			font-size: 1rem
			padding: 10px 0
			max-height: 150px
			.item
				padding-left: 40px
				position: relative
				font-size: 12px
				&:before, &:after
					position: absolute
					content: ''
					background: #444
				&:before
					width: 5px
					height: 5px
					border-radius: 50%
					top: 13px
					left: 16px
				&:after
					width: 1px
					height: 100%
					left: 18px
					top: 0
				&:first-child:after
					top: 50%
				&:last-child:after
					top: -50%

			

